<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#1c1c1c"/>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Restaurant Apps Starter Project</title>

    <!-- Import Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Skip to Content -->
    <a href="#explore" class="skip-link">Menuju ke konten</a>

    <!-- Header -->

    <header>
        <div class="header_title">
            <h1><a href="/">parfect res</a></h1>
            <button id="menu" class="header_menu">☰</button>
        </div>
        <nav id="drawer">
            <ul class="nav_links">
                <li class="nav_item"><a href="#/home">Home</a></li>
                <li class="nav_item"><a href="#/favorite">Favorite</a></li>
                <li class="nav_item"><a href="www.instagram.com/webdesignbynisa/">About Us</a></li>
            </ul>
        </nav>
    </header>

    <section id="mainContent"></section>

    <!-- Footer -->

    <footer>
        <p>&copy; Copyright 2021 Parfect Res Co.</p>
    </footer>

    <script src="https://kit.fontawesome.com/cede744d7f.js" crossorigin="anonymous"></script>
</body>
</html>
